﻿@model IEnumerable<MVC.Models.OradorVm>

@{
    Layout = null;
}

<h2>Orador</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cuil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td style="color=">
                    @Html.DisplayFor(modelItem => item.Cuil)
                </td>
                <td style="color:@(item.Estado == true ? "blue" : "red" );">
                    <b>@Html.DisplayFor(modelItem => item.EstadoStr)</b>
                </td>

                <td>
                    @using (Html.BeginForm("AsignarOrador", "Orador", new {oradorId = item.Id, eventoId = item.EventoId }))
                    {
                        @Html.AntiForgeryToken()


                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Asignar" class="btn btn-success" />
                            </div>
                        </div>
                    }

                    </td>
            </tr>

        }

    </table>

<br />

@Html.ActionLink("Cancelar", "AdministrarEvento", "Evento", new { id = ViewBag.EventoId }, new { @class = "btn btn-danger" })

