﻿@model IEnumerable<MVC.Models.OradorVm>

@{
    ViewBag.Title = "Oradores";
}
<link href="~/Content/Estilos/Reportes.css" rel="stylesheet" />
<h2>Oradores</h2>

<div class="col-lg-12">
    <p class="col-lg-2">
        <a id="btnCrearOrador" data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Agregar</a>
    </p>
    <p class="col-lg-2 col-lg-offset-8">
        @Html.ActionLink("Imprimir", "Imprimir", "Orador", null, new { @class = "btn btn-danger" })
    </p>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Celular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProvinciaStr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CiudadStr)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cuil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td style="color:@(item.Estado == true ? "blue" : "red" );">
                <b>@Html.DisplayFor(modelItem => item.EstadoStr)</b>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProvinciaStr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CiudadStr)
            </td>
            <td>
                <a href="#myModal" class="btnEditarOrador btn-warning btn-sm" data-toggle="modal" data-id="@item.Id">Editar</a>
                <a href="#myModal" class="btnDetalleOrador btn-info btn-sm" data-toggle="modal" data-id="@item.Id">Detalles</a>
                @if (item.EventosAsociados == false)
                {
                    <a href="#myModal" class="btnEliminarOrador btn-danger btn-sm" data-toggle="modal" data-id="@item.Id">Eliminar</a>
                }

            </td>
        </tr>
    }

</table>

<h5 class="text-muted">*No se podra eliminar Oradores que esten asociados a uno o mas Eventos.</h5>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display:none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="modal-content">
                    cargando...
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/Modal/Orador.js"></script>
}
