﻿@model MVC.Models.Evento.EventoABM

@{
    Layout = null;
}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<h2>Crear</h2>

@using (Html.BeginForm("Create", "Evento", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Evento</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BuscarImagen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span class="btn btn-primary btn-file">
                    @Html.TextBoxFor(model => model.BuscarImagen, new { type = "file" })
                </span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaInicio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaInicio, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaFin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaFin, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.FechaFin, "", new { @class = "text-danger mensaje" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HoraInicio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HoraInicio, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.HoraInicio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HoraFin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HoraFin, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.HoraFin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Lugar, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Lugar, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Lugar, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Calle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Calle, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Calle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Numero, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Referencias, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Referencias, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Referencias, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Categoria_EventoId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Categoria_EventoId, Model.Categorias, "Seleccione una Categoria", new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.Categoria_EventoId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrganizadorId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*<a href="#myModal" class="btnCambiarOrganizador btn-warning btn-sm" x data-toggle="modal" data-id="@Model.Id">Cambiar</a>*@
                @Html.DropDownListFor(model => model.OrganizadorId, Model.Organizadores, "Seleccione un Organizador", new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.OrganizadorId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OradorId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*<a href="#myModal" class="btnCambiar btn-warning btn-sm" x data-toggle="modal" data-id="@Model.Id">Cambiar</a>*@
                @Html.DropDownListFor(model => model.OradorId, Model.Oradores, "Seleccione un Orador", new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.OradorId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProvinciaId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ProvinciaId, Model.Provincias, "Seleccione una Provincia", new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.ProvinciaId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CiudadId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CiudadId, Model.Ciudades, "Seleccione una Ciudad", new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.CiudadId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Aceptar" class="btn btn-success" id="acept" />

                @Html.ActionLink("Cancelar", "MisEventos", "Evento", new { usuarioNombre = HttpContext.Current.User.Identity.Name }, new { @class = "btn btn-danger" })
            </div>
        </div>

        @*<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display:none;" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div id="modal-content">
                            cargando...
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
}
<script type="text/javascript">

    $(document).ready(function () {

        $("#Numero").val(1)

        ////////////////////////////
        ////////Fecha Actual/////////
        ////////////////////////////

        n = new Date();
        //Año
        y = n.getFullYear();
        //Mes
        m = n.getMonth() + 1;
        //Día
        d = n.getDate();

        if (d < 10)
            d = '0' + d; //agrega cero si el menor de 10
        if (m < 10)
            m = '0' + m //agrega cero si el menor de 10

        var fechaActual = y + "-" + m + "-" + d;

        ////////////////////////////
        ///Validaciones Evento////
        ////////////////////////////

        $("#Nombre").blur(function () {

            $("#Nombre").val($.trim($("#Nombre").val()));

        });

        $("#Nombre").keypress(function (e) {

            if ((e.charCode < 97 || e.charCode > 122) && (e.charCode < 65 || e.charCode > 90) && (e.charCode != 32)) return false;

        });

        $("#Descripcion").blur(function () {

            $("#Descripcion").val($.trim($("#Descripcion").val()));

        });

        $("#FechaInicio").keypress(function (e) {

            if ((event.which < 97 || event.which > 122) && (event.which < 65 || event.which > 90)) {
                return false;
            }

        });

        $("#FechaInicio").change(function () {

            var fechaInicio = $(this).val();

            var fechaFin = $("#FechaFin").val();

            if ($("#FechaFin").val().length >= 1) {

                if (fechaInicio < fechaActual) {

                    if (fechaInicio > fechaFin) {

                        alert("La fecha de inicio (" + fechaInicio + ") no puede ser antes de la fecha de hoy (" + fechaActual + ")")

                        $("#FechaInicio").val(fechaActual);
                        $("#FechaFin").val(fechaActual);

                    }

                    else {

                        if (fechaFin < fechaActual) {

                            alert("La fecha de inicio (" + fechaInicio + ") no puede ser antes de la fecha de hoy (" + fechaActual + ")")

                            $("#FechaInicio").val(fechaActual);
                            $("#FechaFin").val(fechaActual);
                        }

                        else {

                            alert("La fecha de inicio (" + fechaInicio + ") no puede ser antes de la fecha de hoy (" + fechaActual + ")")

                            $("#FechaInicio").val(fechaActual);
                        }

                    }

                }

                else {

                    if (fechaInicio > fechaFin) {

                        if (fechaFin < fechaActual) {

                            alert("La fecha de inicio (" + fechaInicio + ") no puede ser despues de la fecha de finalizacion (" + fechaFin + ")")

                            $("#FechaFin").val(fechaInicio);
                        }

                        else {

                            alert("La fecha de inicio (" + fechaInicio + ") no puede ser despues de la fecha de finalizacion (" + fechaFin + ")")

                            $("#FechaInicio").val(fechaFin);
                        }
                    }

                }


            }
        })

        $("#FechaFin").keypress(function (e) {

            if ((event.which < 97 || event.which > 122) && (event.which < 65 || event.which > 90)) {
                return false;
            }

        });

        $("#FechaFin").change(function () {

            var fechaFin = $(this).val();
            var fechaInicio = $("#FechaInicio").val();

            if (fechaFin < fechaActual) {

                if (fechaFin < fechaInicio) {

                    if (fechaInicio > fechaActual) {

                        alert("La fecha de finalizacion (" + fechaFin + ") no puede ser antes de la fecha de Inicio (" + fechaInicio + ")")

                        $("#FechaFin").val(fechaInicio);
                    }

                    else {

                        alert("La fecha de finalizacion (" + fechaFin + ") no puede ser antes de la fecha de hoy (" + fechaActual + ")")

                        $("#FechaInicio").val(fechaActual);
                        $("#FechaFin").val(fechaActual);
                    }
                }

                else {

                    alert("La fecha de finalizacion (" + fechaFin + ") no puede ser antes de la fecha de hoy (" + fechaActual + ")")

                    $("#FechaInicio").val(fechaActual);
                    $("#FechaFin").val(fechaActual);

                }

            }

            else {

                if (fechaFin < fechaInicio) {

                    alert("La fecha de finalizacion (" + fechaFin + ") no puede ser antes de la fecha de inicio (" + fechaInicio + ")")

                    $("#FechaFin").val(fechaInicio);

                }

                else {

                    if (fechaInicio < fechaActual) {

                        alert("La fecha de inicio (" + fechaInicio + ") no puede ser antes de la fecha de hoy (" + fechaActual + ")")

                        $("#FechaInicio").val(fechaActual);
                    }

                }

            }

        })

        $("#HoraInicio").keypress(function (e) {

            if ((event.which < 97 || event.which > 122) && (event.which < 65 || event.which > 90)) {
                return false;
            }

        });

        $("#HoraInicio").change(function () {

            var horaInicio = $(this).val();

            if ($("#HoraFin").val().length >= 1) {

                var horaFin = $("#HoraFin").val();

                if (horaInicio > horaFin) {
                    alert("La hora de inicio (" + horaInicio + ") no puede ser despues de la hora de finalizacion (" + horaFin + ")")

                    $("#HoraInicio").val(horaFin);
                }
            }
        })

        $("#HoraFin").keypress(function (e) {

            if ((event.which < 97 || event.which > 122) && (event.which < 65 || event.which > 90)) {
                return false;
            }

        });

        $("#HoraFin").change(function () {
            var horaFin = $(this).val();
            var horaInicio = $("#HoraInicio").val();

            if (horaFin < horaInicio) {
                alert("La hora de finalizacion (" + horaFin + ") no puede ser antes de la hora de inicio (" + horaInicio + ")")

                $("#HoraFin").val(horaInicio);
            }
        })

        $("#Lugar").blur(function () {

            $("#Lugar").val($.trim($("#Lugar").val()));

        });

        $("#Calle").blur(function () {

            $("#Calle").val($.trim($("#Calle").val()));

        });

        $('#Numero').keypress(function (e) {

            if ((e.keyCode < 48 || e.keyCode > 57) || this.value.length === 4) return false;
        });

        $("#Numero").change(function () {

            var numero = $(this).val();

            if (numero < 1) {

                alert("El numero no puede ser negativo");

                $("#Numero").val(1);
            }
        });


        $("#Referencias").blur(function () {

            $("#Referencias").val($.trim($("#Referencias").val()));

        });

        $("#acept").click(function () {

            var numero = $("#Numero").val()
            var fechaFin = $("#FechaFin").val();
            var fechaInicio = $("#FechaInicio").val();

            if (numero < 1) {
                alert("el numero no puede ser menor a 1");
                $("#Numero").val(1)

                return false;
            }

            if (fechaInicio > fechaFin) {

                if (fechaInicio < fechaActual) {

                    alert("La fecha de inicio (" + fechaInicio + ") no puede ser despues de la fecha de finalizacion (" + fechaFin + ")")

                    $("#FechaInicio").val(fechaActual);
                    $("#FechaFin").val(fechaActual);
                    return false;
                }

                else {

                    if (fechaFin < fechaActual) {

                        alert("La fecha de inicio (" + fechaInicio + ") no puede ser despues de la fecha de finalizacion (" + fechaFin + ")")

                        $("#FechaInicio").val(fechaActual);
                        $("#FechaFin").val(fechaActual);
                        return false;

                    }

                    else {

                        alert("La fecha de inicio (" + fechaInicio + ") no puede ser despues de la fecha de finalizacion (" + fechaFin + ")")

                        $("#FechaInicio").val(fechaFin);
                        return false;
                    }


                }

            }

            else {

                if (fechaFin < fechaActual) {

                    alert("Las fechas no puede ser antes de la fecha de hoy (" + fechaActual + ")")

                    $("#FechaInicio").val(fechaActual);
                    $("#FechaFin").val(fechaActual);
                    return false;

                }

                else {

                    if (fechaInicio < fechaActual) {

                        alert("Las fecha de inicio (" + fechaInicio + ") no puede ser antes de la fecha de hoy (" + fechaActual + ")")

                        $("#FechaInicio").val(fechaActual);
                        $("#FechaFin").val(fechaActual);
                        return false;
                    }
                }
            }


        });


        $("#ProvinciaId").change(function () {

            $("#CiudadId").empty();

            $("#CiudadId").append('<option value="">[Seleccione una ciudad..]</option>');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ObtenerCiudades")',
                dataType: 'json',
                data: { provinciaId: $("#ProvinciaId").val() },
                success: function (data) {
                    $.each(data, function (i, data) {
                        $("#CiudadId").append('<option value="'
                            + data.Id + '">'
                            + data.Nombre + '</option>');
                    });
                },
            });
            return false;
        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Modal/Organizador.js"></script>
    <script src="~/Scripts/Modal/Orador.js"></script>
}

