﻿@model IEnumerable<MVC.Models.Evento.EventoVm>

@{
    ViewBag.Title = "MisEventos";
}

<link href="~/Content/Estilos/Reportes.css" rel="stylesheet" />

<h2>ADMINISTRA TUS EVENTOS</h2>


@using (Html.BeginForm("MisEventos", "Evento", new { usuarioNombre = ViewBag.userName }, FormMethod.Post))
{
    <p>
        <div class="row">
            <div class="col-md-12">
                <a id="btnNuevo" data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Crear Evento</a>
            </div>
        </div>
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraInicio)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            var numero = 0;

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraInicio)
                </td>
                <td>

                        @if (item.TieneEntradas)
                        {
                            numero = 1;
                        }
                 
                    @Html.ActionLink("Administrar", "AdministrarEvento", "Evento", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" })
                    <a href="#myModal" class="btnDetalle btn-info btn-sm" x data-toggle="modal" data-id="@item.Id">Detalle</a>

                    @if (numero == 0)
                    {
                        <a href="#myModal" class="btnEditar btn-warning btn-sm" data-toggle="modal" data-id="@item.Id">Editar</a>
                        <a href="#myModal" class="btnEliminar btn-danger btn-sm" x data-toggle="modal" data-id="@item.Id">Eliminar</a>
                    }

                </td>
            </tr>
        }


    </table>

    <h5 class="text-muted">* Recuerda que si un evento contiene entradas no se podra editarlo ni eliminarlo.</h5>

}

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="overflow-y: scroll;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="modal-content">
                    cargando...
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/Modal/Evento.js"></script>
}
