﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>

    @Styles.Render("~/Content/css")


    <link href="~/Content/Estilos/LayoutEstilos.css" rel="stylesheet" id="bootstrap-css" />
    <link href="~/Content/Estilos/FooterEstilo.css" rel="stylesheet" id="bootstrap-css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">


</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="row filaNavBar">
            <div class="col-md-1 logotipo">
                <a href=@Url.Action("index", "Home", new { })>
                    <img class="imgLogo" src="~/Content/Imagenes/Logo/LogoEM.png" alt="EventManager" />
                </a>
            </div>
            <div class="col-md-10 container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Event Manager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Usuarios", "Index", "Usuario")</li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administrar<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Evento", "Index", "Evento")</li>
                                    <li>@Html.ActionLink("Organizador", "Index", "Organizador")</li>
                                    <li>@Html.ActionLink("Orador", "Index", "Orador")</li>
                                    <li>@Html.ActionLink("Categoria", "Index", "Categoria_Evento")</li>
                                    <li>@Html.ActionLink("Provincia", "Index", "Provincias")</li>
                                    <li>@Html.ActionLink("Ciudad", "Index", "Ciudad")</li>
                                </ul>
                            </li>
                        }

                        @if (User.IsInRole("User"))
                        {

                            <li>
                                @Html.ActionLink("Mis Eventos", "MisEventos", "Evento", new { usuarioNombre = HttpContext.Current.User.Identity.Name }, new { })
                            </li>
                        }
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />


    </div>

    <footer>
        <div class="footerMio">

            <div class="row redes-socialesMias justify-content-center" id="sec-contacto">
                <div class="row tituloFilaMia">
                    <div class="col-md-12">
                        <h4 class="tituloMio">Contacto</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-md-offset-2">
                        <p class="contactoMio">Telefono: (0381) 153156691</p>
                    </div>
                    <div class="col-md-4">
                        <p class="contactoMio">Direccion: Rivadavia 1050 - Tucuman</p>
                    </div>
                    <div class="col-md-3">
                        <p class="contactoMio">Correo: <a style="color:blue" href="#">EventManager@gmail.com</a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="col-md-2 col-md-offset-4">
                            <a href="#" class="iconoMio icon-facebook facebook"></a>
                        </div>
                        <div class="col-md-2">
                            <a href="#" class="iconoMio icon-twitter twitter"></a>
                        </div>
                        <div class="col-md-2">
                            <a href="#" class="iconoMio icon-instagram instagram"></a>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row" id="col">
                    <div class="col-12 col-md-12">
                        <div class="col-md-4 col-md-offset-3">
                            <p class="Version">EventManager © 2020 Todos los derechos reservados</p>
                        </div>
                        <div class="col-md-4">
                            <p class="Version">Version: 1.0</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
</body>
</html>
