﻿@model IList<MVC.Models.Entrada.EntradaVm>
@{
    Layout = null;
}

<link href="~/Content/Estilos/EntradasModal.css" rel="stylesheet" />
@{ var nuevo = 0; }
@{ var suma = 0; }
@{ var fechaActual = ViewBag.FechaActual; }

@using (Html.BeginForm("EntradasPorEvento", "Entradas", FormMethod.Post, new { id = @ViewData["id"] }))

{
    @Html.AntiForgeryToken()

<div class="form-horizontal modelo">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @for (int i = 0; i < Model.Count(); i++)
    {
    <div class="form-group bs-callout bs-callout-primary contenedor">

        <div class="col-md-8">

            @Html.HiddenFor(modelItem => modelItem[i].Id)

            <div id="precioValor">

                <h4>

                    @Html.TextBoxFor(modelItem => modelItem[i].Nombre
                    ,new { @readonly = true, style = "border: 0; outline: none;" })

                </h4>

            </div>

            <input type="hidden" value="@Model[i].Precio" class="precio">

            <span id="precio">

                @Html.TextBoxFor(modelItem => modelItem[i].PrecioStr
                , new { @readonly = true, style = "border: none; outline: none;", @id = "precio" })

            </span>

            <br />

            @{var fechaInicio = Model[i].FechaInicioVenta.ToShortDateString();}
            @{var fechaFin = Model[i].FechaFinVenta.ToShortDateString();}

            @if (Model[i].FechaInicioVenta > fechaActual)
            {
                if (Model[i].Precio > 0)
                {
                    <h6 class="text-muted"> Disponible a partir de @fechaInicio </h6>
                }

                if (Model[i].Precio == 0)
                {
                    <h6 class="text-muted"> Disponible a partir de @fechaInicio</h6>
                }

            }

            else
            {
                if (Model[i].FechaFinVenta >= fechaActual)
                {
                    if (Model[i].Precio > 0)
                    {
                        <h6 class="text-muted"> Disponible hasta @fechaFin </h6>
                    }

                    if (Model[i].Precio == 0)
                    {
                        <h6 class="text-muted"> Disponible hasta @fechaFin</h6>
                    }

                }

                else
                {
                    if (Model[i].Precio > 0)
                    {
                        <h6 class="text-muted"> La venta Finalizo el @fechaFin </h6>
                    }

                    if (Model[i].Precio == 0)
                    {
                        <h6 class="text-muted"> La Adquisicion Finalizo el @fechaFin</h6>
                    }

                }
            }

        </div>

        @if (Model.Count() == 1)
        {
            if (Model[i].FechaInicioVenta > fechaActual)
            {
                @Html.DropDownListFor(modelItem => modelItem[i].Cantidad
                , new SelectList(Enumerable.Range(0, 1))
                , new { @class = "form-control cantidad", @style = "display:none" })
            }

            else
            {
                <div class="col-lg-2" id="cant">

                    @Html.DropDownListFor(modelItem => modelItem[i].Cantidad
                    , new SelectList(Enumerable.Range(1, (Model[i].CantidadMaximaPorCompra)))
                    , new { @class = "form-control cantidad" })

                </div>
            }

        }

        @if (Model.Count() > 1)
        {

                <div class="col-lg-2" id="cant">

                    @if (Model[i].FechaInicioVenta > fechaActual)
                    {
                        @Html.DropDownListFor(modelItem => modelItem[i].Cantidad
                        , new SelectList(Enumerable.Range(0, 1))
                        , new { @class = "form-control cantidad", @style = "display:none" })
                    }

                    else
                    {
                        if (Model[i].FechaFinVenta >= fechaActual)
                        {

                            if (Model[i].CantidadMaximaPorCompra > 0)

                            {
                                @Html.DropDownListFor(modelItem => modelItem[i].Cantidad
                                , new SelectList(Enumerable.Range(0, (Model[i].CantidadMaximaPorCompra + 1)))
                                , new { @class = "form-control cantidad" })
                            }

                            if (Model[i].CantidadMaximaPorCompra <= 0)
                            {

                                <h3 class="text-muted"> Agotadas!</h3>

                                @Html.DropDownListFor(modelItem => modelItem[i].Cantidad
                                , new SelectList(Enumerable.Range(0, 1))
                                , new { @class = "form-control cantidad", @style = "display:none" })

                            }
                        }

                        else
                        {
                            <h3 class="text-muted"> Venta Finalizada!</h3>

                            @Html.DropDownListFor(modelItem => modelItem[i].Cantidad
                               , new SelectList(Enumerable.Range(0, 1))
                               , new { @class = "form-control cantidad", @style = "display:none" })
                        }
                    }

                </div>


        }

    </div>


     }



    <div class="form-group">
        <div class="col-md-3">
            <span id="cantSel">
                @Html.DisplayFor(modelItem => nuevo)
            </span>
        </div>

        <div class="col-md-3">
            <span id="totalEntradas">
                @Html.DisplayFor(modelItem => suma)
            </span>
        </div>

        <div class="col-md-4">

            <input type="submit" value="Confirmar" id="confirmar" class="btn btn-success btn-lg btn-block" />

        </div>

    </div>
</div>

 }

<script type="text/javascript">


    $(document).ready(function () {

        var total = 0;
        var cantidadTotal = 0;

        var combos = $(".cantidad");

        ///////////////////////////////
        //// vaalidaciones campos ////
        /////////////////////////////

        combos.each(function () {

            var cantidad = $(this).val();

            cantidadTotal = cantidadTotal + parseInt(cantidad);

            console.log(cantidad);

            var padre = this.parentElement.parentElement
            var precio = padre.getElementsByClassName("precio")[0].value;

            var n = precio.replace(",", ".");
            if (n >= 0.5)

                total = total + n * cantidad;

            console.log(total);
            console.log(cantidadTotal);

        })
        $("#cantSel").text("Cantidad: " + cantidadTotal)

        $("#totalEntradas").text("$ " + total).css('font-weight', 'bold');;


        $(".cantidad").change(function () {

            var total = 0;
            var cantidadTotal = 0;

            var combos = $(".cantidad");
            combos.each(function () {

                var cantidad = $(this).val();

                cantidadTotal = cantidadTotal + parseInt(cantidad);

                console.log(cantidad);

                var padre = this.parentElement.parentElement
                var precio = padre.getElementsByClassName("precio")[0].value;

                var n = precio.replace(",", ".");
                if (n >= 0.5)

                    total = total + n * cantidad;

                console.log(total);
                console.log(cantidadTotal);

            })
            $("#cantSel").text("Cantidad: " + cantidadTotal);

            $("#totalEntradas").text("$" + total);
        });

        $("#confirmar").click(function () {

            if ($("#cantSel").text() == "Cantidad: " + "0") {
                alert("Debe Seleccionar por lo menos 1 entrada para poder continuar");

                return false;
            }

        })

    })

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
