﻿@model IEnumerable<MVC.Models.Entrada.EntradaVm>

@{
    ViewBag.Title = "Entradas";
}
<link href="~/Content/Estilos/Reportes.css" rel="stylesheet" />
<h2>Index</h2>

<p>
    @Html.ActionLink("Agregar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaInicioVenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFinVenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CanalDeVentas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInicioVenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaFinVenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CanalDeVentas)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new {@class = "btn btn-warning"}) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
