﻿@model IList<MVC.Models.Entrada.EntradaVm>
@{
    Layout = null;
}

<link href="~/Content/Estilos/EntradasModal.css" rel="stylesheet" />
@{ var nuevo = 0; }
@{ var suma = 0; }

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal modelo">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @foreach (var item in Model)
        {
            <div class="form-group bs-callout bs-callout-primary contenedor">
                <div class="col-md-8">
                    <div id="precioValor">
                        <h4>@Html.DisplayFor(modelItem => item.Nombre)</h4>
                    </div>
                    <input type="hidden" value="@item.Precio" class="precio">

                    <span id="precio">
                        @Html.DisplayFor(modelItem => item.Precio)
                    </span>

                </div>
                <div class="col-lg-2">
                    <select id="cant" class="form-control cantidad">
                        @foreach (var cant in Enumerable.Range(1, item.Cantidad))
                        {
                            <option value="@cant">@cant</option>
                        }

                    </select>
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-md-3">
                <span id="cantSel">
                    @Html.DisplayFor(modelItem => nuevo)
                </span>
            </div>
            <div class="col-md-3">
                <span id="totalEntradas">
                    @Html.DisplayFor(modelItem => suma)
                </span>
            </div>
            <div class="col-md-4">

                <a id="confirmar" class="btn btn-primary btn-lg btn-block">Confirmar</a>
             
            </div>
        </div>
    </div>
}

<script type="text/javascript">


    $(document).ready(function () {

        var cantidadmax = $(".CantidadMaximaPorCompra").val();
        console.log(cantidadmax)

        $("#confirmar").click(function () {

            $.ajax({
                    type: 'POST',
                    url: '@Url.Action("InscripcionEvento")',
                    dataType: 'json',
                    data: { cantidad: $("#cantSel").val(), total: $("#totalEntradas").val() },
                    success: function (data) {

                    },
                });

        })

        var valorSeleccionado = $(this).children("option:selected").val();


        if (valorSeleccionado != undefined) {
            $("#cantSel").text("Cantidad: " + valorSeleccionado);
        }
        else {
            $("#cantSel").text("Cantidad: 0");
        }

        var precio = $("#precio").text();
        var total = precio * valorSeleccionado;

        $("#totalEntradas").text("$" + total);

        $(".cantidad").change(function () {

            var total = 0;
            var cantidadTotal = 0;

            var combos = $(".cantidad");
            combos.each(function () {


                var cantidad = $(this).val();

                cantidadTotal = cantidadTotal + parseInt(cantidad);

                console.log(cantidad);

                var padre = this.parentElement.parentElement
                var precio = padre.getElementsByClassName("precio")[0].value;

                total = total + precio * cantidad;

                console.log(total);
                console.log(cantidadTotal);

            })
            $("#cantSel").text("Cantidad: " + cantidadTotal);

            $("#totalEntradas").text("$" + total);
        });

    })
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}