﻿.container-fluid {
    margin-top: 50px;
    border: 10px solid rgba(4, 190, 100, 0.86);
    border-radius: 20px;
}


.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }

        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-inner img {
        width: 100%;
        max-height: 100px;
        position: center;
    }

    .carousel-control {
        z-index: 2;
    }
}

.carousel-indicators .active {
    background-color: rgba(4, 190, 100, 0.86);
}

html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 100%;
}

.item:nth-child(1) {
    background: #74C390;
}

.item:nth-child(2) {
    background: #51BCE8;
}

.item:nth-child(3) {
    background: #E46653;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next {
    position: absolute;
    z-index: 5;
    display: inline-block;
    color: rgba(4, 190, 100, 0.86);
}

.carousel-caption{
    color: #51BCE8;
    border-color:rgba(0,0,0,.125);
    position: absolute;
}

//////////////////////////
////    Tarjetas   //////
/////////////////////////
.cajas {
    background-color: #fff;
    text-align: center;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    /*border-radius: .25rem;*/
}
.card {
    background-color: #fff;
    text-align: center;
    background-clip: border-box;
    border: 3px solid rgba(4, 190, 100, 0.86);
    /*border-radius: 20px;*/
}
.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}

/*.fade {
    opacity: 0.5;
}

.fade:hover {
    opacity: 1;
}*/

/*.grow:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}*/ /*para dar efecto de agrandar imagen*/

.threed:hover {
    box-shadow: 1px 1px #627270, 2px 2px #627270, 3px 3px #627270;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}