﻿body {
    /*background : url('/Content/Imagenes/Fondo/iStock-636617236.jpg');*/
    padding: 70px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.entrada {
    border: 1px solid gray;
    padding: 5px;
}

a .Orador {
    color: #000000;
}
.Orador:hover {
    color: #000000;
}
img{
    padding-top: 20px;
}
.container {
    /*border: 1px solid rgba(4, 190, 100, 0.86);*/
}
