﻿
.navbar {
    background-color: rgba(4, 190, 100, 0.86);
    font: bold 15px arial, verdana;
}
.navbar-brand{
    font: bold 24px arial, verdana;
    padding-top:10px;
}
ul .nav navbar-nav {
    color: #ffffff;
}
a {
    color: #ffffff;
}

body {
    background: #f2f2f2;
}

.logotipo{
    margin-right: 30px;
    margin-left: 0;
    padding-top:0;
    width:50px;
    height:50px;    
}
.imgLogo {
    width: 90px;
    height: 70px;
    display: inline-block;
}
.navbar-fixed-top{
    padding-left:30px;
    padding-bottom:10px;
    margin-right:-100px;
}
