﻿body {
    /*background-image: url(~/Content/Imagenes/Fondo/evaluacion-formativa-decreto-mineduc.jpg);*/
    /*background: url('/Content/Imagenes/Fondo/iStock-636617236.jpg');*/
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.containerOwnApp {
    box-shadow: 0 0 50px 0 rgba(4, 190, 100, 0.86);
    padding-top: 0px;
}

.login-page {
    padding: 5% 0 0;
    margin: 0 auto 100px;
    max-width: 500px;
    position: relative;
}

.login-form {
    box-shadow: 0 0 27px 0 rgba(4, 190, 100, 0.86);
}

.login-form-header {
    padding-top: 30px;
}

.login-from-row {
    padding-top: 20px;
    padding-bottom: 20px;

    margin-left: 100px;
}

.checkbox{
    color: white;
}
.login-form-font-header {
    font-size: 35px;
    font-weight: bold;
}

.login-form-font-header span {
    color: #007C9B;
}

.field-validation-error {
    color: #b94a48;
    display: inline-block;
    *display: inline;
    padding-left: 5px;
    vertical-align: middle;
    *zoom: 1;
}


/*Dispositivos sm*/
@media screen and (max-width: 575px) {

    .login-from-row{
        margin-left: 50px;
        margin-right: 50px;
    }

}