﻿@model IEnumerable<MVC.Models.Categoria_EventoVm>

@{
    ViewBag.Title = "Index";
}

<link href="~/Content/Estilos/Reportes.css" rel="stylesheet" />


<h2>Categorias</h2>

<p>
    <div class="row">
        <div class="col-md-12">
            <a id="btnNuevo" data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Agregar</a>
        </div>
    </div>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td style="color:@(item.Estado == true ? "blue" : "red" );">
                <b>@Html.DisplayFor(modelItem => item.EstadoStr)</b>
            </td>
            <td>
                <a href="#myModal" class="btnDetalle btn-info btn-sm" x data-toggle="modal" data-id="@item.Id">Detalle</a>
                <a href="#myModal" class="btnEditar btn-warning btn-sm" data-toggle="modal" data-id="@item.Id">Editar</a>

                @if (item.EventosAsociados == false)
                {
                    <a href="#myModal" class="btnEliminar btn-danger btn-sm" x data-toggle="modal" data-id="@item.Id">Eliminar</a>
                }


            </td>
        </tr>
    }

</table>

<h5 class="text-muted">*No se podra eliminar ni editar Categorias que esten asociados a uno o mas Eventos.</h5>


<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display:none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="modal-content">
                    cargando...
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/Modal/CategoriaEvento.js"></script>
}
