﻿@model MVC.Models.RegisterViewModel
@{
    ViewBag.Title = "Registrarse";
}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Cree una cuenta nueva.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Registrarse" />
        </div>
    </div>
}

    <script type="text/javascript">

    $(document).ready(function () {

        $("#Email").blur(function () {

            $("#Email").val($.trim($("#Email").val()));

        });
    });

    $(document).ready(function () {

        $("#Password").blur(function () {

            $("#Password").val($.trim($("#Password").val()));

        });
    });

    $(document).ready(function () {

        $("#ConfirmPassword").blur(function () {

            $("#ConfirmPassword").val($.trim($("#ConfirmPassword").val()));

        });
    });
        

    </script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
