﻿@model MVC.Models.Seguridad.UsuarioViewModel

@{
    ViewBag.Title = "AddRole";
}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<h2>Añadir Rol</h2>

@using (Html.BeginForm("AddRole", "Usuario", new { UserId = Model.UserId }, FormMethod.Post))

{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Role.RoleId, "Role", htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="col-md-10">
            @Html.DropDownList("RoleId", null, htmlAttributes: new { @class = "form-control", @id = "roleId", @required = "required" })
            @Html.ValidationMessageFor(model => model.Role.RoleId, "", new { @class = "text-danger" })
        </div>

    </div>

    <input type="submit" value="Añadir Rol" class="btn btn-success" id="Aceptar">
    @Html.ActionLink("Volver", "Roles", new { userId = Model.UserId }, new { @class = "btn btn-info" })


}

<script type="text/javascript">

    $(document).ready(function () {


        $("#Aceptar").click(function () {

            var role = $("#roleId").val()

            if (!role ) {

                alert("Debe seleccionar un rol.")

                return false;

            }
        });

    });

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}