﻿@model IEnumerable<MVC.Models.Seguridad.UsuarioViewModel>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/Estilos/Reportes.css" rel="stylesheet" />
<h2>Usuarios</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Roles", "Roles", new { UserId = item.UserId })

            </td>
        </tr>
    }

</table>
