﻿@model MVC.Models.Seguridad.UsuarioViewModel

@{
    ViewBag.Title = "Roles";
}

<h3>Roles del Usuario: @Model.UserName</h3>
<br />
<br />


@Html.ActionLink("Agregar Rol", "AddRole", new { UserId = Model.UserId }, new { @class = "btn btn-primary btn-sm" })
<br />
<br />

<table class="table col-md-3">

    @for (int i = 0; i < Model.Roles.Count; i++)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Roles[i].Nombre)
            </td>

            <td>
                @Html.ActionLink("Eliminar", "Delete", new { UserId = Model.UserId, RoleId = Model.Roles[i].RoleId }, new { @class = "btn btn-danger btn-sm" })

            </td>
        </tr>
    }

</table>

@Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-info btn-sm" })

