﻿@model MVC.Models.CiudadVm

@{
    ViewBag.Title = "Create";
    Layout = null;
}

<h2>Crear</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Ciudad</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CP, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CP, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
            @Html.ValidationMessageFor(model => model.CP, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ProvinciaId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.ProvinciaId, Model.Provincias, "Seleccione una Provincia", new { @class = "form-select", @required = "required" })
            @Html.ValidationMessageFor(model => model.ProvinciaId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Aceptar" class="btn btn-success" id="acept" />

            @Html.ActionLink("Cancelar", "Index", new { }, new { @class = "btn btn-danger" })
        </div>
    </div>
</div>
}

<script type="text/javascript">

    $(document).ready(function () {

        $("#Nombre").blur(function () {

            $("#Nombre").val($.trim($("#Nombre").val()));

        });

        $("#Nombre").keypress(function (e) {

            if ((e.charCode < 97 || e.charCode > 122) && (e.charCode < 65 || e.charCode > 90) && (e.charCode != 32)) return false;
        });

        $('#CP').keypress(function (e) {

            if ((e.keyCode < 48 || e.keyCode > 57) || this.value.length === 4) return false;
        });

        $('#CP').change(function () {

           var cp =  $(this).val()

            if (cp < 0) {

                alert("el valor no puede ser negativo");

                $("#CP").val(1)

                return false;
            } 
        });

        $("#acept").click(function () {

            var cantidad = $("#CP").val().length

            if (cantidad < 4) {
                alert("Ingrese un Codigo Postal Valido")

                return false;
            }

            var cantidad1 = $("#CP").val()

            if (cantidad1 == 0) {

                alert("El Codigo Postal no puede ser 0.")

                return false;
            }

        })
    });


</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
