﻿@model IEnumerable<MVC.Models.ProvinciaVm>

@{
    ViewBag.Title = "Provincias";
}
<link href="~/Content/Estilos/Reportes.css" rel="stylesheet" />
<h2>Provincias</h2>

<p>
    <div class="row">
        <div class="col-md-12">
            <a id="btnNuevo" data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Agregar</a>
        </div>
    </div>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            <a href="#myModal" class="btnDetalle btn-info btn-sm" x data-toggle="modal" data-id="@item.Id">Detalle</a>

            @if (item.EventosAsociados == false)
            {
                if (item.CiudadesAsociadas == false)
                {

                <a href="#myModal" class="btnEditar btn-warning btn-sm" data-toggle="modal" data-id="@item.Id">Editar</a>

                <a href="#myModal" class="btnEliminar btn-danger btn-sm" x data-toggle="modal" data-id="@item.Id">Eliminar</a>
                }
            }

        </td>
    </tr>
}
</table>

<h5 class="text-muted">*No se podra eliminar ni editar Provincias que esten asociadas a una o mas ciudades, o a uno o mas eventos.</h5>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display:none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div id="modal-content">
                    cargando...
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/Modal/Provincia.js"></script>
}
